.wy-nav-content {
    max-width: 1000px !important;
}

ul {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

p {
    margin-bottom: 0px !important;
}

.highlight-yaml {
    display: block;
    border: None;
    width: 400px;
}

.highlight {
    background-color: #edf0f2;
}

.twocol {
    display: table;
    width: 100%;
}

.leftside {
    display: block;
    float: left;
    width: 400px;
    padding: auto;
}

.rightside {
    display: block;
    width: 400px;
    float: right;
}
